/*
1. By changing only the display property of the CSS make all 3 squares line up horizontally like in goal1.
2. Change only the display property make all 3 squares line up vertically line in goal2 image. */

p { 
    color: white;
}

.red { 
    display: inline-block; 
    width: 200px;
    height: 200px;
    background-color: red; 
}

.green { 
    display: inline-block; 
    width: 200px; 
    height: 200px; 
    background-color: green; 
}

.blue { 
    display: inline-block; 
    width: 200px; 
    height: 200px; 
    background-color: blue;
}